<h1>Survey#new</h1>
<p>Find me in app/views/survey/new.html.erb</p>
<%= form_for :survey, url: surveys_path do |f| %>
  <p>
    <%= f.label :q1 %><br>
    <%= f.text_field :q1 %>
  </p>
 
  <p>
    <%= f.label :q2 %><br>
    <%= f.text_area :q2 %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>