<!DOCTYPE html>
<html>
  <head>
    <title>Pôlegare | Sondage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="http://sondage.pole-gare.ch" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pôlegare | Sondage" />
    <meta property="og:description" content="Sous-Gare, prends Place! du 3 au 31 octobre 2016, votre avis nous intéresse.." />
    <meta property="og:image" content=<%= asset_path("head768.jpg") %>

    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
     <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>

  <body>
    <div id="slogan">
      <div class="container">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <header>
        <div class="row" id="images">
          <div class="col-md-6">
            <%= image_tag("lausanne.png") %>
          </div>
          <div class="col-md-6">
            <%= image_tag("polegare.png") %>
          </div>
        </div>
      </header>
    </div>
    <div class="container-fluid head">
      <div class="row head-small"><%= image_tag("head768.jpg") %></div>
      <div class="row head-medium"><%= image_tag("head1920.jpg") %></div>
      <div class="row head-large"><%= image_tag("head2560.jpg") %></div>
    </div>
  	<div class="container">
      <header>
        <div class="row" id="sous-gare">
          <div class="col-md-12">
            <p>Les espaces publics des quartiers sous-gare se transforment. Qu’en pensez-vous? Quelles sont vos attentes? Ce <strong>sondage</strong> ne vous prendra pas plus de 10 minutes. Ses résultats nourriront les futurs projets d’espaces publics sous-gare. Aucune question n’est obligatoire.</p>
          </div>
        </div>
      </header>
  		<%= yield %>
  	</div>
  </body>
</html>
