<!DOCTYPE html>
<html>
  <head>
    <title>Survey16</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  </head>

  <body>
    <div id="block"></div>
  	<div class="container">
      <header>
        <div class="row" id="images">
          <div class="col-md-6">
            <%= image_tag("polegare.png") %>
          </div>
          <div class="col-md-6">
            <%= image_tag("lausanne.png") %>
          </div>
        </div>
        <div class="row" id="sous-gare">
          <div class="col-md-12">
            <div class="desktop">
              <%= image_tag("header.jpg") %>
            </div>
            <div class="mobile">
              <%= image_tag("header-mobile.jpg") %>
            </div>
          </div>
        </div>
      </header>
  		<%= yield %>
  	</div>
  </body>
</html>
