<!DOCTYPE html>
<html>
  <head>
    <title>Pôlegare | Sondage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
     <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>

  <body>
    <div id="slogan">
      <div class="container">
        <div class="row">
          <div class="col-md-12">«Sous-Gare, prend Place»</div>
        </div>
      </div>
    </div>
  	<div class="container">
      <header>
        <div class="row" id="images">
          <div class="col-md-6">
            <%= image_tag("lausanne.png") %>
          </div>
          <div class="col-md-6">
            <%= image_tag("polegare.png") %>
          </div>
        </div>
        <div class="row" id="sous-gare">
          <div class="col-md-12">
            <div class="desktop">
              <%= image_tag("header.jpg") %>
            </div>
            <div class="mobile">
              <%= image_tag("header-mobile.jpg") %>
            </div>
          </div>
        </div>
      </header>
  		<%= yield %>
  	</div>
  </body>
</html>
